export(Markovchart, Markovcontour, Markovsim)
S3method(print, Markov_chart)
import(stats)
import(parallel)
import(doParallel)
import(optimParallel)
import(foreach)
import(ggplot2)
import(metR)
