export(Markovchart, Markovcontour, Markovsim)
S3method(print, Markov_chart)
S3method(print, Markov_sim)
import(stats)
import(utils)
import(parallel)
import(doParallel)
import(optimParallel)
import(foreach)
import(ggplot2)
import(metR)
