export(Markovchart, Markovstat, Markovsim)
S3method(print, Markov_chart)
S3method(print, Markov_stationary)
S3method(print, Markov_sim)
S3method(plot, Markov_grid)
import(stats)
import(utils)
import(parallel)
import(doParallel)
import(optimParallel)
import(foreach)
import(ggplot2)
import(metR)
